* {
  background: none;
  border: 0 none transparent;
  font-style: normal;
  font-weight: normal;
  height: auto;
  list-style: none;
  margin: 0;
  padding: 0;
  outline: 0;
  text-decoration: none;
  vertical-align: baseline;
  width: auto;
  -webkit-margin-before: 0;
  -webkit-margin-end: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-padding-before: 0;
  -webkit-padding-end: 0;
  -webkit-padding-after: 0;
  -webkit-padding-start: 0;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  overflow-y: scroll;
}

img {
  vertical-align: middle;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

dt,
dd {
  display: inline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button,
a {
  cursor: pointer;
}

/* background: primary */
.bg-p50 {
  background: #cfefbd;
}

.bg-p100 {
  background: #c0eaa9;
}

.bg-p150 {
  background: #b1e594;
}

.bg-p200 {
  background: #a1e080;
}

.bg-p250 {
  background: #92db6b;
}

.bg-p300 {
  background: #83d657;
}

.bg-p350 {
  background: #74d142;
}

.bg-p400 {
  background: #66c931;
}

.bg-p450 {
  background: #5cb52c;
}

.bg-p500 {
  background: #51a027;
}

.bg-p550 {
  background: #478c22;
}

.bg-p600 {
  background: #3c771d;
}

.bg-p650 {
  background: #326318;
}

.bg-p700 {
  background: #284e13;
}

.bg-p750 {
  background: #1d390e;
}

.bg-p800 {
  background: #132509;
}

.bg-p850 {
  background: #081004;
}

.bg-p900 {
  background: #1a1a1a;
}

.bg-p950 {
  background: #0d0d0d;
}

/* background: secondary */
.bg-s50 {
  background: #bdefd9;
}

.bg-s100 {
  background: #a9eacd;
}

.bg-s150 {
  background: #94e5c1;
}

.bg-s200 {
  background: #80e0b5;
}

.bg-s250 {
  background: #6bdba9;
}

.bg-s300 {
  background: #57d69d;
}

.bg-s350 {
  background: #42d191;
}

.bg-s400 {
  background: #31c985;
}

.bg-s450 {
  background: #2cb577;
}

.bg-s500 {
  background: #27a06a;
}

.bg-s550 {
  background: #228c5c;
}

.bg-s600 {
  background: #1d774e;
}

.bg-s650 {
  background: #186341;
}

.bg-s700 {
  background: #134e33;
}

.bg-s750 {
  background: #0e3926;
}

.bg-s800 {
  background: #092518;
}

.bg-s850 {
  background: #04100b;
}

.bg-s900 {
  background: black;
}

.bg-s950 {
  background: black;
}

/* background: grayscale */
.bg-g50 {
  background: #f2f2f2;
}

.bg-g100 {
  background: #e6e6e6;
}

.bg-g150 {
  background: #d9d9d9;
}

.bg-g200 {
  background: #cccccc;
}

.bg-g250 {
  background: #bfbfbf;
}

.bg-g300 {
  background: #b3b3b3;
}

.bg-g350 {
  background: #a6a6a6;
}

.bg-g400 {
  background: #999999;
}

.bg-g450 {
  background: #8c8c8c;
}

.bg-g500 {
  background: gray;
}

.bg-g550 {
  background: #737373;
}

.bg-g600 {
  background: #666666;
}

.bg-g650 {
  background: #595959;
}

.bg-g700 {
  background: #4d4d4d;
}

.bg-g750 {
  background: #404040;
}

.bg-g800 {
  background: #333333;
}

.bg-g850 {
  background: #262626;
}

.bg-g900 {
  background: #1a1a1a;
}

.bg-g950 {
  background: #0d0d0d;
}

/* text: primary */
.txt-p50 {
  color: #cfefbd;
}

.txt-p100 {
  color: #c0eaa9;
}

.txt-p150 {
  color: #b1e594;
}

.txt-p200 {
  color: #a1e080;
}

.txt-p250 {
  color: #92db6b;
}

.txt-p300 {
  color: #83d657;
}

.txt-p350 {
  color: #74d142;
}

.txt-p400 {
  color: #66c931;
}

.txt-p450 {
  color: #5cb52c;
}

.txt-p500 {
  color: #51a027;
}

.txt-p550 {
  color: #478c22;
}

.txt-p600 {
  color: #3c771d;
}

.txt-p650 {
  color: #326318;
}

.txt-p700 {
  color: #284e13;
}

.txt-p750 {
  color: #1d390e;
}

.txt-p800 {
  color: #132509;
}

.txt-p850 {
  color: #081004;
}

.txt-p900 {
  color: #1a1a1a;
}

.txt-p950 {
  color: #0d0d0d;
}

/* text: secondary */
.txt-s50 {
  color: #bdefd9;
}

.txt-s100 {
  color: #a9eacd;
}

.txt-s150 {
  color: #94e5c1;
}

.txt-s200 {
  color: #80e0b5;
}

.txt-s250 {
  color: #6bdba9;
}

.txt-s300 {
  color: #57d69d;
}

.txt-s350 {
  color: #42d191;
}

.txt-s400 {
  color: #31c985;
}

.txt-s450 {
  color: #2cb577;
}

.txt-s500 {
  color: #27a06a;
}

.txt-s550 {
  color: #228c5c;
}

.txt-s600 {
  color: #1d774e;
}

.txt-s650 {
  color: #186341;
}

.txt-s700 {
  color: #134e33;
}

.txt-s750 {
  color: #0e3926;
}

.txt-s800 {
  color: #092518;
}

.txt-s850 {
  color: #04100b;
}

.txt-s900 {
  color: black;
}

.txt-s950 {
  color: black;
}

/* text: grayscale */
.txt-g50 {
  color: #f2f2f2;
}

.txt-g100 {
  color: #e6e6e6;
}

.txt-g150 {
  color: #d9d9d9;
}

.txt-g200 {
  color: #cccccc;
}

.txt-g250 {
  color: #bfbfbf;
}

.txt-g300 {
  color: #b3b3b3;
}

.txt-g350 {
  color: #a6a6a6;
}

.txt-g400 {
  color: #999999;
}

.txt-g450 {
  color: #8c8c8c;
}

.txt-g500 {
  color: gray;
}

.txt-g550 {
  color: #737373;
}

.txt-g600 {
  color: #666666;
}

.txt-g650 {
  color: #595959;
}

.txt-g700 {
  color: #4d4d4d;
}

.txt-g750 {
  color: #404040;
}

.txt-g800 {
  color: #333333;
}

.txt-g850 {
  color: #262626;
}

.txt-g900 {
  color: #1a1a1a;
}

.txt-g950 {
  color: #0d0d0d;
}

/* border: primary */
.bdr-p50 {
  border-color: #cfefbd;
}

.bdr-p100 {
  border-color: #c0eaa9;
}

.bdr-p150 {
  border-color: #b1e594;
}

.bdr-p200 {
  border-color: #a1e080;
}

.bdr-p250 {
  border-color: #92db6b;
}

.bdr-p300 {
  border-color: #83d657;
}

.bdr-p350 {
  border-color: #74d142;
}

.bdr-p400 {
  border-color: #66c931;
}

.bdr-p450 {
  border-color: #5cb52c;
}

.bdr-p500 {
  border-color: #51a027;
}

.bdr-p550 {
  border-color: #478c22;
}

.bdr-p600 {
  border-color: #3c771d;
}

.bdr-p650 {
  border-color: #326318;
}

.bdr-p700 {
  border-color: #284e13;
}

.bdr-p750 {
  border-color: #1d390e;
}

.bdr-p800 {
  border-color: #132509;
}

.bdr-p850 {
  border-color: #081004;
}

.bdr-p900 {
  border-color: #1a1a1a;
}

.bdr-p950 {
  border-color: #0d0d0d;
}

/* border: secondary */
.bdr-s50 {
  border-color: #bdefd9;
}

.bdr-s100 {
  border-color: #a9eacd;
}

.bdr-s150 {
  border-color: #94e5c1;
}

.bdr-s200 {
  border-color: #80e0b5;
}

.bdr-s250 {
  border-color: #6bdba9;
}

.bdr-s300 {
  border-color: #57d69d;
}

.bdr-s350 {
  border-color: #42d191;
}

.bdr-s400 {
  border-color: #31c985;
}

.bdr-s450 {
  border-color: #2cb577;
}

.bdr-s500 {
  border-color: #27a06a;
}

.bdr-s550 {
  border-color: #228c5c;
}

.bdr-s600 {
  border-color: #1d774e;
}

.bdr-s650 {
  border-color: #186341;
}

.bdr-s700 {
  border-color: #134e33;
}

.bdr-s750 {
  border-color: #0e3926;
}

.bdr-s800 {
  border-color: #092518;
}

.bdr-s850 {
  border-color: #04100b;
}

.bdr-s900 {
  border-color: black;
}

.bdr-s950 {
  border-color: black;
}

/* border: grayscale */
.bdr-g50 {
  border-color: #f2f2f2;
}

.bdr-g100 {
  border-color: #e6e6e6;
}

.bdr-g150 {
  border-color: #d9d9d9;
}

.bdr-g200 {
  border-color: #cccccc;
}

.bdr-g250 {
  border-color: #bfbfbf;
}

.bdr-g300 {
  border-color: #b3b3b3;
}

.bdr-g350 {
  border-color: #a6a6a6;
}

.bdr-g400 {
  border-color: #999999;
}

.bdr-g450 {
  border-color: #8c8c8c;
}

.bdr-g500 {
  border-color: gray;
}

.bdr-g550 {
  border-color: #737373;
}

.bdr-g600 {
  border-color: #666666;
}

.bdr-g650 {
  border-color: #595959;
}

.bdr-g700 {
  border-color: #4d4d4d;
}

.bdr-g750 {
  border-color: #404040;
}

.bdr-g800 {
  border-color: #333333;
}

.bdr-g850 {
  border-color: #262626;
}

.bdr-g900 {
  border-color: #1a1a1a;
}

.bdr-g950 {
  border-color: #0d0d0d;
}

/* typography font sizes */
.font-alpha {
  font-size: 1.5rem;
}

.font-beta {
  font-size: 1.375rem;
}

.font-xlg {
  font-size: 1.25rem;
}

.font-lg {
  font-size: 1.125rem;
}

.font-md {
  font-size: 1rem;
}

.font-sm {
  font-size: 0.875rem;
}

.font-xs {
  font-size: 0.75rem;
}

/* typography font styles */
.txt-thin {
  font-weight: 200;
}

.txt-light {
  font-weight: 300;
}

.txt-norm {
  font-weight: normal;
  font-weight: 400;
}

.txt-md {
  font-weight: 500;
}

.txt-bold {
  font-weight: bold;
  font-weight: 700;
}

.txt-blk {
  font-weight: 800;
}

.txt-italic {
  font-style: italic;
}

.txt-upper {
  text-transform: uppercase;
}

.txt-capital {
  text-transform: capitalize;
}

.txt-lower {
  text-transform: lowercase;
}

/* positioning */
.pos-t-fixed {
  position: fixed;
  top: 0;
  z-index: 1000;
}

.pos-b-fixed {
  position: fixed;
  bottom: 0;
  z-index: 1000;
}

.pos-t-xs {
  position: absolute;
  top: 4px;
  right: 0;
  bottom: 0;
  left: 0;
}

.pos-t-sm {
  position: absolute;
  top: 8px;
  right: 0;
  bottom: 0;
  left: 0;
}

.pos-t-md {
  position: absolute;
  top: 16px;
  right: 0;
  bottom: 0;
  left: 0;
}

.pos-y-xs {
  position: absolute;
  top: 0;
  right: 4px;
  bottom: 0;
  left: 0;
}

.pos-y-sm {
  position: absolute;
  top: 0;
  right: 8px;
  bottom: 0;
  left: 0;
}

.pos-y-md {
  position: absolute;
  top: 0;
  right: 16px;
  bottom: 0;
  left: 0;
}

.pos-b-xs {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 4px;
  left: 0;
}

.pos-b-sm {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 8px;
  left: 0;
}

.pos-b-md {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 8px;
  left: 0;
}

.pos-x-xs {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 4px;
}

.pos-x-sm {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 8px;
}

.pos-x-md {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 16px;
}

.pos-ty-xs {
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: 0;
  left: 0;
}

.pos-ty-sm {
  position: absolute;
  top: 8px;
  right: 8px;
  bottom: 0;
  left: 0;
}

.pos-ty-md {
  position: absolute;
  top: 16px;
  right: 16px;
  bottom: 0;
  left: 0;
}

.pos-tx-xs {
  position: absolute;
  top: 4px;
  right: 0;
  bottom: 0;
  left: 4px;
}

.pos-tx-sm {
  position: absolute;
  top: 8px;
  right: 0;
  bottom: 0;
  left: 8px;
}

.pos-tx-md {
  position: absolute;
  top: 16px;
  right: 0;
  bottom: 0;
  left: 16px;
}

.pos-by-xs {
  position: absolute;
  top: 0;
  right: 4px;
  bottom: 4px;
  left: 0;
}

.pos-by-sm {
  position: absolute;
  top: 0;
  right: 8px;
  bottom: 8px;
  left: 0;
}

.pos-by-md {
  position: absolute;
  top: 0;
  right: 16px;
  bottom: 16px;
  left: 0;
}

.pos-bx-xs {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 4px;
  left: 4px;
}

.pos-bx-sm {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 8px;
  left: 8px;
}

.pos-bx-md {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 16px;
  left: 16px;
}

/* container for wrapping page level grids */
.container {
  display: block;
  max-width: 100%;
}

/* wrapper for resetting parent div, which allows nesting of flexbox grids */
.wrapper {
  display: block;
  width: 100%;
}

/* flexbox row for grid rows */
.row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  align-content: stretch;
}

.row-reverse {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.row-column {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.row-column-reverse {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.row-wrap {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row-justify-center {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}

.row-justify-end {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.row-justify-between {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.row-align-start {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.row-align-center {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

.row-align-end {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

.row-content-start {
  display: -webkit-flex;
  display: flex;
  -webkit-align-content: flex-start;
  align-content: flex-start;
}

.row-content-center {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

.row-content-end {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

.row-content-between {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: space-between;
  align-items: space-between;
}

.row-content-around {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: space-around;
  align-items: space-around;
}

/* grid columns */
.column-1 {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  width: 8.33%;
}

.columns-2 {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  width: 16.66%;
}

.columns-3 {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  width: 25%;
}

.columns-4 {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  width: 33.33%;
}

.columns-5 {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  width: 41.66%;
}

.columns-6 {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  width: 50%;
}

.columns-7 {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  width: 58.33%;
}

.columns-8 {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  width: 66.66%;
}

.columns-9 {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  width: 75%;
}

.columns-10 {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  width: 83.33%;
}

.columns-11 {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  width: 91.66%;
}

.columns-12 {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  width: 100%;
}

/* flexbox items */
.items-grow {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  width: auto;
}

.items-shrink {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  width: auto;
}

.items-stretch {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  width: auto;
  -webkit-align-self: stretch;
  align-self: stretch;
}

.items-start {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  width: auto;
  -webkit-align-self: flex-start;
  align-self: flex-start;
}

.items-center {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  width: auto;
  -webkit-align-self: center;
  align-self: center;
}

.items-end {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  width: auto;
  -webkit-align-self: flex-end;
  align-self: flex-end;
}

/* column size offsets using padding instead of margins because of box-sizing: border-box */
.off-right-1 {
  padding-right: 8.33%;
}

.off-left-1 {
  padding-left: 8.33%;
}

.off-right-2 {
  padding-right: 16.66%;
}

.off-left-2 {
  padding-left: 16.66%;
}

.off-right-3 {
  padding-right: 25%;
}

.off-left-3 {
  padding-left: 25%;
}

.off-right-4 {
  padding-right: 33.33%;
}

.off-left-4 {
  padding-left: 33.33%;
}

.off-right-5 {
  padding-right: 41.66%;
}

.off-left-5 {
  padding-left: 41.66%;
}

.off-right-6 {
  padding-right: 50%;
}

.off-left-6 {
  padding-left: 50%;
}

.off-right-7 {
  padding-right: 58.33%;
}

.off-left-7 {
  padding-left: 58.33%;
}

.off-right-8 {
  padding-right: 66.66%;
}

.off-left-8 {
  padding-left: 66.66%;
}

.off-right-9 {
  padding-right: 75%;
}

.off-left-9 {
  padding-left: 75%;
}

.off-right-10 {
  padding-right: 83.33%;
}

.off-left-10 {
  padding-left: 83.33%;
}

.off-right-11 {
  padding-right: 91.66%;
}

.off-left-11 {
  padding-left: 91.66%;
}

/* width classes */
.w-10 {
  width: 10%;
}

.w-15 {
  width: 15%;
}

.w-20 {
  width: 20%;
}

.w-25 {
  width: 25%;
}

.w-30 {
  width: 30%;
}

.w-35 {
  width: 35%;
}

.w-40 {
  width: 40%;
}

.w-45 {
  width: 45%;
}

.w-50 {
  width: 50%;
}

.w-55 {
  width: 55%;
}

.w-60 {
  width: 60%;
}

.w-65 {
  width: 65%;
}

.w-70 {
  width: 70%;
}

.w-75 {
  width: 75%;
}

.w-80 {
  width: 80%;
}

.w-85 {
  width: 85%;
}

.w-90 {
  width: 90%;
}

.w-95 {
  width: 95%;
}

.w-100 {
  width: 100%;
}

/* other layout helpers */
.left {
  float: left;
}

.right {
  float: right;
}

.center {
  display: block;
  margin: 0 auto;
}

.clear,
.clear:before,
.clear:after {
  clear: both;
  display: block;
}

.d-none {
  display: none;
}

.d-inline {
  display: inline-block;
}

.d-block {
  visibility: visible;
  display: block;
}

.d-hide {
  visibility: hidden;
}

.d-visible {
  visibility: visible;
}

.o-hidden {
  overflow: hidden;
}

/* grid row spacing using padding top and padding bottom */
.bline-xs {
  padding-top: 4px;
  padding-bottom: 4px;
}

.bline-sm {
  padding-top: 8px;
  padding-bottom: 8px;
}

.bline-md {
  padding-top: 16px;
  padding-bottom: 16px;
}

.bline-lg {
  padding-top: 32px;
  padding-bottom: 32px;
}

.bline-xlg {
  padding-top: 64px;
  padding-bottom: 64px;
}

/* column gutter spacing using padding left and padding right */
.gut-xs {
  padding-left: 4px;
  padding-right: 4px;
}

.gut-sm {
  padding-left: 8px;
  padding-right: 8px;
}

.gut-md {
  padding-left: 16px;
  padding-right: 16px;
}

.gut-lg {
  padding-left: 32px;
  padding-right: 32px;
}

.gut-xlg {
  padding-left: 64px;
  padding-right: 64px;
}

/* margin spacing around */
.m-xs {
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 4px;
}

.m-sm {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 8px;
}

.m-md {
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 16px;
  margin-right: 16px;
}

.m-lg {
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 32px;
  margin-right: 32px;
}

.m-xlg {
  margin-top: 64px;
  margin-bottom: 64px;
  margin-left: 64px;
  margin-right: 64px;
}

.m-none {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

/* margin spacing top */
.mt-xs {
  margin-top: 4px;
}

.mt-sm {
  margin-top: 8px;
}

.mt-md {
  margin-top: 16px;
}

.mt-lg {
  margin-top: 32px;
}

.mt-xlg {
  margin-top: 64px;
}

.mt-none {
  margin-top: 0;
}

/* margin spacing bottom */
.mb-xs {
  margin-bottom: 4px;
}

.mb-sm {
  margin-bottom: 8px;
}

.mb-md {
  margin-bottom: 16px;
}

.mb-lg {
  margin-bottom: 32px;
}

.mb-xlg {
  margin-bottom: 64px;
}

.mb-none {
  margin-bottom: 0;
}

/* margin spacing left */
.mx-xs {
  margin-left: 4px;
}

.mx-sm {
  margin-left: 8px;
}

.mx-md {
  margin-left: 16px;
}

.mx-lg {
  margin-left: 32px;
}

.mx-xlg {
  margin-left: 64px;
}

.mx-none {
  margin-left: 0;
}

/* margin spacing right */
.my-xs {
  margin-right: 4px;
}

.my-sm {
  margin-right: 8px;
}

.my-md {
  margin-right: 16px;
}

.my-lg {
  margin-right: 32px;
}

.my-xlg {
  margin-right: 64px;
}

.my-none {
  margin-right: 64px;
}

/* padding spacing around */
.p-xs {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

.p-sm {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

.p-md {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
}

.p-lg {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 32px;
  padding-right: 32px;
}

.p-xlg {
  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 64px;
  padding-right: 64px;
}

.p-none {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

/* padding spacing top */
.pt-xs {
  padding-top: 4px;
}

.pt-sm {
  padding-top: 8px;
}

.pt-md {
  padding-top: 16px;
}

.pt-lg {
  padding-top: 32px;
}

.pt-xlg {
  padding-top: 64px;
}

.pt-none {
  padding-top: 0;
}

/* padding spacing bottom */
.pb-xs {
  padding-bottom: 4px;
}

.pb-sm {
  padding-bottom: 8px;
}

.pb-md {
  padding-bottom: 16px;
}

.pb-lg {
  padding-bottom: 32px;
}

.pb-xlg {
  padding-bottom: 64px;
}

.pb-none {
  padding-bottom: 0;
}

/* padding spacing left */
.px-xs {
  padding-left: 4px;
}

.px-sm {
  padding-left: 8px;
}

.px-md {
  padding-left: 16px;
}

.px-lg {
  padding-left: 32px;
}

.px-xlg {
  padding-left: 64px;
}

.px-none {
  padding-left: 0;
}

/* borders */
.solid-box {
  border-width: 1px;
  border-style: solid;
}

.dotted-box {
  border-width: 1px;
  border-style: dotted;
}

.solid-ladder {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
}

.dotted-ladder {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: dotted;
  border-bottom-style: dotted;
}

.solid-fence {
  border-left-width: 1px;
  border-right-width: 1px;
  border-left-style: solid;
  border-right-style: solid;
}

.dotted-fence {
  border-left-width: 1px;
  border-right-width: 1px;
  border-left-style: dotted;
  border-right-style: dotted;
}

.solid-top {
  border-top-width: 1px;
  border-top-style: solid;
}

.dotted-top {
  border-top-width: 1px;
  border-top-style: dotted;
}

.solid-bottom {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.dotted-bottom {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
}

.solid-left {
  border-left-width: 1px;
  border-left-style: solid;
}

.dotted-left {
  border-left-width: 1px;
  border-left-style: dotted;
}

.solid-right {
  border-right-width: 1px;
  border-right-style: solid;
}

.dotted-right {
  border-right-width: 1px;
  border-right-style: dotted;
}

/* Specific Styles for application or website */
html {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}
