* {
  background: none;
  border: 0 none transparent;
  font-style: normal;
  font-weight: normal;
  height: auto;
  list-style: none;
  margin: 0;
  padding: 0;
  outline: 0;
  text-decoration: none;
  vertical-align: baseline;
  width: auto;
  -webkit-margin-before: 0;
  -webkit-margin-end: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-padding-before: 0;
  -webkit-padding-end: 0;
  -webkit-padding-after: 0;
  -webkit-padding-start: 0;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  overflow-y: scroll;
}

img {
  vertical-align: middle;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

dt,
dd {
  display: inline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button,
a {
  cursor: pointer;
}

/* background: primary */
.bg-p50 {
  background: #cfefbd;
}

.bg-p100 {
  background: #c0eaa9;
}

.bg-p150 {
  background: #b0e594;
}

.bg-p200 {
  background: #a1e080;
}

.bg-p250 {
  background: #92db6b;
}

.bg-p300 {
  background: #83d657;
}

.bg-p350 {
  background: #74d142;
}

.bg-p400 {
  background: #66c931;
}

.bg-p450 {
  background: #5bb52c;
}

.bg-p500 {
  background: #51A027;
}

.bg-p550 {
  background: #478b22;
}

.bg-p600 {
  background: #3c771d;
}

.bg-p650 {
  background: #326218;
}

.bg-p700 {
  background: #274e13;
}

.bg-p750 {
  background: #1d390e;
}

.bg-p800 {
  background: #132509;
}

.bg-p850 {
  background: #081004;
}

.bg-p900 {
  background: #3b3b3b;
}

.bg-p950 {
  background: #2e2e2e;
}

/* background: secondary */
.bg-s50 {
  background: #97e5ce;
}

.bg-s100 {
  background: #83e0c4;
}

.bg-s150 {
  background: #6edbbb;
}

.bg-s200 {
  background: #5ad6b1;
}

.bg-s250 {
  background: #45d1a8;
}

.bg-s300 {
  background: #32cb9d;
}

.bg-s350 {
  background: #2db68e;
}

.bg-s400 {
  background: #28a27e;
}

.bg-s450 {
  background: #238d6e;
}

.bg-s500 {
  background: #1E795E;
}

.bg-s550 {
  background: #19654e;
}

.bg-s600 {
  background: #14503e;
}

.bg-s650 {
  background: #0f3c2e;
}

.bg-s700 {
  background: #0a271f;
}

.bg-s750 {
  background: #05130f;
}

.bg-s800 {
  background: black;
}

.bg-s850 {
  background: black;
}

.bg-s900 {
  background: black;
}

.bg-s950 {
  background: black;
}

/* background: grayscale */
.bg-g50 {
  background: white;
}

.bg-g100 {
  background: white;
}

.bg-g150 {
  background: #fafafa;
}

.bg-g200 {
  background: #eeeeee;
}

.bg-g250 {
  background: #e1e1e1;
}

.bg-g300 {
  background: #d4d4d4;
}

.bg-g350 {
  background: #c7c7c7;
}

.bg-g400 {
  background: #bbbbbb;
}

.bg-g450 {
  background: #aeaeae;
}

.bg-g500 {
  background: #A1A1A1;
}

.bg-g550 {
  background: #949494;
}

.bg-g600 {
  background: #888888;
}

.bg-g650 {
  background: #7b7b7b;
}

.bg-g700 {
  background: #6e6e6e;
}

.bg-g750 {
  background: #616161;
}

.bg-g800 {
  background: #555555;
}

.bg-g850 {
  background: #484848;
}

.bg-g900 {
  background: #3b3b3b;
}

.bg-g950 {
  background: #2e2e2e;
}

.bg-white {
  background: #ffffff;
}

.bg-black {
  background: #000000;
}

.bg-good {
  background: #56F500;
}

.bg-warning {
  background: #DB9200;
}

.bg-danger {
  background: #DB2500;
}

/* text: primary */
.t-p50 {
  color: #cfefbd;
}

.t-p100 {
  color: #c0eaa9;
}

.t-p150 {
  color: #b0e594;
}

.t-p200 {
  color: #a1e080;
}

.t-p250 {
  color: #92db6b;
}

.t-p300 {
  color: #83d657;
}

.t-p350 {
  color: #74d142;
}

.t-p400 {
  color: #66c931;
}

.t-p450 {
  color: #5bb52c;
}

.t-p500 {
  color: #51A027;
}

.t-p550 {
  color: #478b22;
}

.t-p600 {
  color: #3c771d;
}

.t-p650 {
  color: #326218;
}

.t-p700 {
  color: #274e13;
}

.t-p750 {
  color: #1d390e;
}

.t-p800 {
  color: #132509;
}

.t-p850 {
  color: #081004;
}

.t-p900 {
  color: #3b3b3b;
}

.t-p950 {
  color: #2e2e2e;
}

/* text: secondary */
.t-s50 {
  color: #97e5ce;
}

.t-s100 {
  color: #83e0c4;
}

.t-s150 {
  color: #6edbbb;
}

.t-s200 {
  color: #5ad6b1;
}

.t-s250 {
  color: #45d1a8;
}

.t-s300 {
  color: #32cb9d;
}

.t-s350 {
  color: #2db68e;
}

.t-s400 {
  color: #28a27e;
}

.t-s450 {
  color: #238d6e;
}

.t-s500 {
  color: #1E795E;
}

.t-s550 {
  color: #19654e;
}

.t-s600 {
  color: #14503e;
}

.t-s650 {
  color: #0f3c2e;
}

.t-s700 {
  color: #0a271f;
}

.t-s750 {
  color: #05130f;
}

.t-s800 {
  color: black;
}

.t-s850 {
  color: black;
}

.t-s900 {
  color: black;
}

.t-s950 {
  color: black;
}

/* text: grayscale */
.t-g50 {
  color: white;
}

.t-g100 {
  color: white;
}

.t-g150 {
  color: #fafafa;
}

.t-g200 {
  color: #eeeeee;
}

.t-g250 {
  color: #e1e1e1;
}

.t-g300 {
  color: #d4d4d4;
}

.t-g350 {
  color: #c7c7c7;
}

.t-g400 {
  color: #bbbbbb;
}

.t-g450 {
  color: #aeaeae;
}

.t-g500 {
  color: #A1A1A1;
}

.t-g550 {
  color: #949494;
}

.t-g600 {
  color: #888888;
}

.t-g650 {
  color: #7b7b7b;
}

.t-g700 {
  color: #6e6e6e;
}

.t-g750 {
  color: #616161;
}

.t-g800 {
  color: #555555;
}

.t-g850 {
  color: #484848;
}

.t-g900 {
  color: #3b3b3b;
}

.t-g950 {
  color: #2e2e2e;
}

.t-white {
  color: #ffffff;
}

.t-black {
  color: #000000;
}

/* border: primary */
.b-p50 {
  border-color: #cfefbd;
}

.b-p100 {
  border-color: #c0eaa9;
}

.b-p150 {
  border-color: #b0e594;
}

.b-p200 {
  border-color: #a1e080;
}

.b-p250 {
  border-color: #92db6b;
}

.b-p300 {
  border-color: #83d657;
}

.b-p350 {
  border-color: #74d142;
}

.b-p400 {
  border-color: #66c931;
}

.b-p450 {
  border-color: #5bb52c;
}

.b-p500 {
  border-color: #51A027;
}

.b-p550 {
  border-color: #478b22;
}

.b-p600 {
  border-color: #3c771d;
}

.b-p650 {
  border-color: #326218;
}

.b-p700 {
  border-color: #274e13;
}

.b-p750 {
  border-color: #1d390e;
}

.b-p800 {
  border-color: #132509;
}

.b-p850 {
  border-color: #081004;
}

.b-p900 {
  border-color: #3b3b3b;
}

.b-p950 {
  border-color: #2e2e2e;
}

/* border: secondary */
.b-s50 {
  border-color: #97e5ce;
}

.b-s100 {
  border-color: #83e0c4;
}

.b-s150 {
  border-color: #6edbbb;
}

.b-s200 {
  border-color: #5ad6b1;
}

.b-s250 {
  border-color: #45d1a8;
}

.b-s300 {
  border-color: #32cb9d;
}

.b-s350 {
  border-color: #2db68e;
}

.b-s400 {
  border-color: #28a27e;
}

.b-s450 {
  border-color: #238d6e;
}

.b-s500 {
  border-color: #1E795E;
}

.b-s550 {
  border-color: #19654e;
}

.b-s600 {
  border-color: #14503e;
}

.b-s650 {
  border-color: #0f3c2e;
}

.b-s700 {
  border-color: #0a271f;
}

.b-s750 {
  border-color: #05130f;
}

.b-s800 {
  border-color: black;
}

.b-s850 {
  border-color: black;
}

.b-s900 {
  border-color: black;
}

.b-s950 {
  border-color: black;
}

/* border: grayscale */
.b-g50 {
  border-color: white;
}

.b-g100 {
  border-color: white;
}

.b-g150 {
  border-color: #fafafa;
}

.b-g200 {
  border-color: #eeeeee;
}

.b-g250 {
  border-color: #e1e1e1;
}

.b-g300 {
  border-color: #d4d4d4;
}

.b-g350 {
  border-color: #c7c7c7;
}

.b-g400 {
  border-color: #bbbbbb;
}

.b-g450 {
  border-color: #aeaeae;
}

.b-g500 {
  border-color: #A1A1A1;
}

.b-g550 {
  border-color: #949494;
}

.b-g600 {
  border-color: #888888;
}

.b-g650 {
  border-color: #7b7b7b;
}

.b-g700 {
  border-color: #6e6e6e;
}

.b-g750 {
  border-color: #616161;
}

.b-g800 {
  border-color: #555555;
}

.b-g850 {
  border-color: #484848;
}

.b-g900 {
  border-color: #3b3b3b;
}

.b-g950 {
  border-color: #2e2e2e;
}

.b-white {
  border-color: #ffffff;
}

.b-black {
  border-color: #000000;
}

/* typography font sizes */
.f-alpha {
  font-size: 1.5rem;
}

.f-beta {
  font-size: 1.375rem;
}

.f-xlg {
  font-size: 1.25rem;
}

.f-lg {
  font-size: 1.125rem;
}

.f-md {
  font-size: 1rem;
}

.f-sm {
  font-size: 0.875rem;
}

.f-xs {
  font-size: 0.75rem;
}

/* typography font styles */
.f-thin {
  font-weight: 200;
}

.f-light {
  font-weight: 300;
}

.f-norm {
  font-weight: normal;
  font-weight: 400;
}

.f-semi {
  font-weight: 500;
}

.f-bold {
  font-weight: bold;
  font-weight: 700;
}

.f-italic {
  font-style: italic;
}

.f-uppercase {
  text-transform: uppercase;
}

.f-capital {
  text-transform: capitalize;
}

.f-lowercase {
  text-transform: lowercase;
}

.f-underline {
  text-decoration: underline;
}

/* typography positioning */
.f-left {
  text-align: left;
}

.f-right {
  text-align: right;
}

.f-center {
  text-align: center;
}

/* positioning */
.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

/* fixed header or footer */
.pos-tfixed {
  position: fixed;
  top: 0;
  z-index: 1000;
}

.pos-bfixed {
  position: fixed;
  bottom: 0;
  z-index: 1000;
}

/* top position */
.pos-t {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.pos-t1 {
  position: absolute;
  top: 4px;
  right: 0;
  bottom: 0;
  left: 0;
}

.pos-t2 {
  position: absolute;
  top: 8px;
  right: 0;
  bottom: 0;
  left: 0;
}

.pos-t3 {
  position: absolute;
  top: 16px;
  right: 0;
  bottom: 0;
  left: 0;
}

/* right position */
.pos-y {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.pos-y1 {
  position: absolute;
  top: 0;
  right: 4px;
  bottom: 0;
  left: 0;
}

.pos-y2 {
  position: absolute;
  top: 0;
  right: 8px;
  bottom: 0;
  left: 0;
}

.pos-y3 {
  position: absolute;
  top: 0;
  right: 16px;
  bottom: 0;
  left: 0;
}

/* bottom position */
.pos-b {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.pos-b1 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 4px;
  left: 0;
}

.pos-b2 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 8px;
  left: 0;
}

.pos-b3 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 16px;
  left: 0;
}

/* left position */
.pos-b {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.pos-b1 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 4px;
  left: 0;
}

.pos-b2 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 8px;
  left: 0;
}

.pos-b3 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 16px;
  left: 0;
}

/* container for wrapping page level grids */
.container {
  display: block;
  max-width: 100%;
}

/* wrapper for resetting parent div, which allows nesting of flexbox grids */
.wrapper {
  display: block;
  width: 100%;
}

/* flexbox row for grid rows */
.row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  align-content: stretch;
}

.row-reverse {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.row-column {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.row-column-reverse {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.row-wrap {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row-justify-center {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}

.row-justify-end {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.row-justify-between {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.row-align-start {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.row-align-center {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

.row-align-end {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

.row-content-start {
  display: -webkit-flex;
  display: flex;
  -webkit-align-content: flex-start;
  align-content: flex-start;
}

.row-content-center {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

.row-content-end {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

.row-content-between {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: space-between;
  align-items: space-between;
}

.row-content-around {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: space-around;
  align-items: space-around;
}

/* grid columns */
.column {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  width: auto;
}

.column-1 {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  width: 8.33%;
}

.columns-2 {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  width: 16.66%;
}

.columns-3 {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  width: 25%;
}

.columns-4 {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  width: 33.33%;
}

.columns-5 {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  width: 41.66%;
}

.columns-6 {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  width: 50%;
}

.columns-7 {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  width: 58.33%;
}

.columns-8 {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  width: 66.66%;
}

.columns-9 {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  width: 75%;
}

.columns-10 {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  width: 83.33%;
}

.columns-11 {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  width: 91.66%;
}

.columns-12 {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  width: 100%;
}

/* width classes */
.w-10 {
  width: 10%;
}

.w-15 {
  width: 15%;
}

.w-20 {
  width: 20%;
}

.w-25 {
  width: 25%;
}

.w-30 {
  width: 30%;
}

.w-35 {
  width: 35%;
}

.w-40 {
  width: 40%;
}

.w-45 {
  width: 45%;
}

.w-50 {
  width: 50%;
}

.w-55 {
  width: 55%;
}

.w-60 {
  width: 60%;
}

.w-65 {
  width: 65%;
}

.w-70 {
  width: 70%;
}

.w-75 {
  width: 75%;
}

.w-80 {
  width: 80%;
}

.w-85 {
  width: 85%;
}

.w-90 {
  width: 90%;
}

.w-95 {
  width: 95%;
}

.w-100 {
  width: 100%;
}

/* flexbox items */
.items-grow {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  width: auto;
}

.items-shrink {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  width: auto;
}

.items-stretch {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  width: auto;
  -webkit-align-self: stretch;
  align-self: stretch;
}

.items-start {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  width: auto;
  -webkit-align-self: flex-start;
  align-self: flex-start;
}

.items-center {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  width: auto;
  -webkit-align-self: center;
  align-self: center;
}

.items-end {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  width: auto;
  -webkit-align-self: flex-end;
  align-self: flex-end;
}

/* column size offsets using padding instead of margins because of box-sizing: border-box */
.off-y1 {
  padding-right: 8.33%;
}

.off-x1 {
  padding-left: 8.33%;
}

.off-y2 {
  padding-right: 16.66%;
}

.off-x2 {
  padding-left: 16.66%;
}

.off-y3 {
  padding-right: 25%;
}

.off-x3 {
  padding-left: 25%;
}

.off-y4 {
  padding-right: 33.33%;
}

.off-x4 {
  padding-left: 33.33%;
}

.off-y5 {
  padding-right: 41.66%;
}

.off-x5 {
  padding-left: 41.66%;
}

.off-y6 {
  padding-right: 50%;
}

.off-x6 {
  padding-left: 50%;
}

.off-y7 {
  padding-right: 58.33%;
}

.off-x7 {
  padding-left: 58.33%;
}

.off-y8 {
  padding-right: 66.66%;
}

.off-x8 {
  padding-left: 66.66%;
}

.off-y9 {
  padding-right: 75%;
}

.off-x9 {
  padding-left: 75%;
}

.off-y10 {
  padding-right: 83.33%;
}

.off-x10 {
  padding-left: 83.33%;
}

.off-y11 {
  padding-right: 91.66%;
}

.off-x11 {
  padding-left: 91.66%;
}

/* other layout helpers */
.left {
  float: left;
}

.right {
  float: right;
}

.center {
  display: block;
  margin: 0 auto;
}

.clear,
.clear:before,
.clear:after {
  clear: both;
  display: block;
}

.d-none {
  display: none;
}

.d-inline {
  display: inline-block;
}

.d-block {
  visibility: visible;
  display: block;
}

.d-hide {
  display: none;
}

.d-hidden {
  visibility: hidden;
}

.d-visible {
  visibility: visible;
}

.o-hidden {
  overflow: hidden;
}

/* alignment */
.valign-t {
  vertical-align: top;
}

.valign-m {
  vertical-align: middle;
}

.valign-b {
  vertical-align: bottom;
}

/* 
  xy is for horizontal direction (x = left and y = right)
  tb is for vertical direction (t = top and b = bottom)
*/
/* margin spacing around */
.m-1 {
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 4px;
}

.m-2 {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 8px;
}

.m-3 {
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 16px;
  margin-right: 16px;
}

.m-4 {
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 32px;
  margin-right: 32px;
}

.m-5 {
  margin-top: 64px;
  margin-bottom: 64px;
  margin-left: 64px;
  margin-right: 64px;
}

/* margin spacing top */
.mt-1 {
  margin-top: 4px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.mt-2 {
  margin-top: 8px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.mt-3 {
  margin-top: 16px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.mt-4 {
  margin-top: 32px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.mt-5 {
  margin-top: 64px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

/* margin spacing bottom */
.mb-1 {
  margin-top: 0;
  margin-bottom: 4px;
  margin-left: 0;
  margin-right: 0;
}

.mb-2 {
  margin-top: 0;
  margin-bottom: 8px;
  margin-left: 0;
  margin-right: 0;
}

.mb-3 {
  margin-top: 0;
  margin-bottom: 16px;
  margin-left: 0;
  margin-right: 0;
}

.mb-4 {
  margin-top: 0;
  margin-bottom: 32px;
  margin-left: 0;
  margin-right: 0;
}

.mb-5 {
  margin-top: 0;
  margin-bottom: 64px;
  margin-left: 0;
  margin-right: 0;
}

/* margin spacing left */
.mx-1 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 4px;
  margin-right: 0;
}

.mx-2 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 4px;
  margin-right: 0;
}

.mx-3 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 8px;
  margin-right: 0;
}

.mx-4 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 8px;
  margin-right: 0;
}

.mx-5 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 8px;
  margin-right: 0;
}

/* margin spacing right */
.my-1 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 4px;
}

.my-2 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 8px;
}

.my-3 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 16px;
}

.my-4 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 32px;
}

.my-5 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 64px;
}

/* remove margins */
.m-0 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

/* 
  xy is for horizontal direction (x = left and y = right)
  tb is for vertical direction (t = top and b = bottom)
*/
/* vertical spacing using padding top and padding bottom */
.baseline-1 {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 0;
  padding-right: 0;
}

.baseline-2 {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 0;
  padding-right: 0;
}

.baseline-3 {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 0;
  padding-right: 0;
}

.baseline-4 {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 0;
  padding-right: 0;
}

.baseline-5 {
  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 0;
  padding-right: 0;
}

/* horizontal spacing using padding left and padding right */
.gutter-1 {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 4px;
  padding-right: 4px;
}

.gutter-2 {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 8px;
  padding-right: 8px;
}

.gutter-3 {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 16px;
  padding-right: 16px;
}

.gutter-4 {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 32px;
  padding-right: 32px;
}

.gutter-5 {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 64px;
  padding-right: 64px;
}

/* padding spacing around */
.p-1 {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

.p-2 {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

.p-3 {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
}

.p-4 {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 32px;
  padding-right: 32px;
}

.p-5 {
  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 64px;
  padding-right: 64px;
}

/* padding spacing top */
.pt-1 {
  padding-top: 4px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.pt-2 {
  padding-top: 8px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.pt-3 {
  padding-top: 16px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.pt-4 {
  padding-top: 32px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.pt-5 {
  padding-top: 64px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

/* padding spacing bottom */
.pb-1 {
  padding-top: 0;
  padding-bottom: 4px;
  padding-left: 0;
  padding-right: 0;
}

.pb-2 {
  padding-top: 0;
  padding-bottom: 8px;
  padding-left: 0;
  padding-right: 0;
}

.pb-3 {
  padding-top: 0;
  padding-bottom: 16px;
  padding-left: 0;
  padding-right: 0;
}

.pb-4 {
  padding-top: 0;
  padding-bottom: 32px;
  padding-left: 0;
  padding-right: 0;
}

.pb-5 {
  padding-top: 0;
  padding-bottom: 64px;
  padding-left: 0;
  padding-right: 0;
}

/* padding spacing left */
.px-1 {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 4px;
  padding-right: 0;
}

.px-2 {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 8px;
  padding-right: 0;
}

.px-3 {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 16px;
  padding-right: 0;
}

.px-4 {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 32px;
  padding-right: 0;
}

.px-5 {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 64px;
  padding-right: 0;
}

/* padding spacing right */
.py-1 {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 4px;
}

.py-2 {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 8px;
}

.py-3 {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 16px;
}

.py-4 {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 32px;
}

.py-5 {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 64px;
}

/* remove padding */
.p-0 {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

/* borders */
.b-square {
  border-width: 1px;
  border-style: solid;
}

.b-ladder {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
}

.b-fence {
  border-left-width: 1px;
  border-right-width: 1px;
  border-left-style: solid;
  border-right-style: solid;
}

.b-top {
  border-top-width: 1px;
  border-top-style: solid;
}

.b-bottom {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.b-left {
  border-left-width: 1px;
  border-left-style: solid;
}

.b-right {
  border-right-width: 1px;
  border-right-style: solid;
}

.b-none {
  border: none;
}

/* border radius */
.r-1 {
  border-radius: 4px;
}

.r-2 {
  border-radius: 8px;
}

.r-3 {
  border-radius: 16px;
}

.r-4 {
  border-radius: 32px;
}

.r-5 {
  border-radius: 64px;
}

/* border radius top */
.rt-1 {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.rt-2 {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.rt-3 {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.rt-4 {
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
}

.rt-5 {
  border-top-left-radius: 64px;
  border-top-right-radius: 64px;
}

/* border radius bottom */
.rb-1 {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.rb-2 {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.rb-3 {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.rb-4 {
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
}

.rb-5 {
  border-bottom-left-radius: 64px;
  border-bottom-right-radius: 64px;
}

/* border radius left */
.rx-1 {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.rx-2 {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.rx-3 {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.rx-4 {
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
}

.rx-5 {
  border-top-left-radius: 64px;
  border-bottom-left-radius: 64px;
}

/* border radius right */
.ry-1 {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.ry-2 {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.ry-3 {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.ry-4 {
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
}

.ry-5 {
  border-top-right-radius: 64px;
  border-bottom-right-radius: 64px;
}

/* border radius top left */
.rtx-1 {
  border-top-left-radius: 4px;
}

.rtx-2 {
  border-top-left-radius: 8px;
}

.rtx-3 {
  border-top-left-radius: 16px;
}

.rtx-4 {
  border-top-left-radius: 32px;
}

.rtx-5 {
  border-top-left-radius: 64px;
}

/* border radius top right */
.rty-1 {
  border-top-right-radius: 4px;
}

.rty-2 {
  border-top-right-radius: 8px;
}

.rty-3 {
  border-top-right-radius: 16px;
}

.rty-4 {
  border-top-right-radius: 32px;
}

.rty-5 {
  border-top-right-radius: 64px;
}

/* border radius bottom left */
.rbx-1 {
  border-bottom-left-radius: 4px;
}

.rbx-2 {
  border-bottom-left-radius: 8px;
}

.rbx-3 {
  border-bottom-left-radius: 16px;
}

.rbx-4 {
  border-bottom-left-radius: 32px;
}

.rbx-5 {
  border-bottom-left-radius: 64px;
}

/* border radius bottom right */
.rby-1 {
  border-bottom-right-radius: 4px;
}

.rby-2 {
  border-bottom-right-radius: 8px;
}

.rby-3 {
  border-bottom-right-radius: 16px;
}

.rby-4 {
  border-bottom-right-radius: 32px;
}

.rby-5 {
  border-bottom-right-radius: 64px;
}
