// _atoms.scss

@import "reset";
@import "variables";
@import "mixins";

/* colors - background */
.bg-p100 {
  background: lighten($primary, 40%);
}

.bg-p200 {
  background: lighten($primary, 30%);
}

.bg-p300 {
  background: lighten($primary, 20%);
}

.bg-p400 {
  background: lighten($primary, 10%);
}

.bg-p500 {
  background: $primary;
}

.bg-p600 {
  background: darken($primary, 10%);
}

.bg-p700 {
  background: darken($primary, 20%);
}

.bg-p800 {
  background: darken($primary, 30%);
}

.bg-p900 {
  background: darken($primary, 40%);
}

.bg-s100 {
  background: lighten($secondary, 40%);
}

.bg-s200 {
  background: lighten($secondary, 30%);
}

.bg-s300 {
  background: lighten($secondary, 20%);
}

.bg-s400 {
  background: lighten($secondary, 10%);
}

.bg-s500 {
  background: $secondary;
}

.bg-s600 {
  background: darken($secondary, 10%);
}

.bg-s700 {
  background: darken($secondary, 20%);
}

.bg-s800 {
  background: darken($secondary, 30%);
}

.bg-s900 {
  background: darken($secondary, 40%);
}

.bg-s100 {
  background: lighten($grayscale, 40%);
}

.bg-s200 {
  background: lighten($grayscale, 30%);
}

.bg-s300 {
  background: lighten($grayscale, 20%);
}

.bg-s400 {
  background: lighten($grayscale, 10%);
}

.bg-s500 {
  background: $grayscale;
}

.bg-s600 {
  background: darken($grayscale, 10%);
}

.bg-s700 {
  background: darken($grayscale, 20%);
}

.bg-s800 {
  background: darken($grayscale, 30%);
}

.bg-s900 {
  background: darken($grayscale, 40%);
}

/* colors - txt */
.txt-p100 {
  color: lighten($primary, 40%);
}

.txt-p200 {
  color: lighten($primary, 30%);
}

.txt-p300 {
  color: lighten($primary, 20%);
}

.txt-p400 {
  color: lighten($primary, 10%);
}

.txt-p500 {
  color: $primary;
}

.txt-p600 {
  color: darken($primary, 10%);
}

.txt-p700 {
  color: darken($primary, 20%);
}

.txt-p800 {
  color: darken($primary, 30%);
}

.txt-p900 {
  color: darken($primary, 40%);
}

.txt-s100 {
  color: lighten($secondary, 40%);
}

.txt-s200 {
  color: lighten($secondary, 30%);
}

.txt-s300 {
  color: lighten($secondary, 20%);
}

.txt-s400 {
  color: lighten($secondary, 10%);
}

.txt-s500 {
  color: $secondary;
}

.txt-s600 {
  color: darken($secondary, 10%);
}

.txt-s700 {
  color: darken($secondary, 20%);
}

.txt-s800 {
  color: darken($secondary, 30%);
}

.txt-s900 {
  color: darken($secondary, 40%);
}

.txt-s100 {
  color: lighten($grayscale, 40%);
}

.txt-s200 {
  color: lighten($grayscale, 30%);
}

.txt-s300 {
  color: lighten($grayscale, 20%);
}

.txt-s400 {
  color: lighten($grayscale, 10%);
}

.txt-s500 {
  color: $grayscale;
}

.txt-s600 {
  color: darken($grayscale, 10%);
}

.txt-s700 {
  color: darken($grayscale, 20%);
}

.txt-s800 {
  color: darken($grayscale, 30%);
}

.txt-s900 {
  color: darken($grayscale, 40%);
}

/* colors - borders */
.bdr-p100 {
  border-color: lighten($primary, 40%);
}

.bdr-p200 {
  border-color: lighten($primary, 30%);
}

.bdr-p300 {
  border-color: lighten($primary, 20%);
}

.bdr-p400 {
  border-color: lighten($primary, 10%);
}

.bdr-p500 {
  border-color: $primary;
}

.bdr-p600 {
  border-color: darken($primary, 10%);
}

.bdr-p700 {
  border-color: darken($primary, 20%);
}

.bdr-p800 {
  border-color: darken($primary, 30%);
}

.bdr-p900 {
  border-color: darken($primary, 40%);
}

.bdr-s100 {
  border-color: lighten($secondary, 40%);
}

.bdr-s200 {
  border-color: lighten($secondary, 30%);
}

.bdr-s300 {
  border-color: lighten($secondary, 20%);
}

.bdr-s400 {
  border-color: lighten($secondary, 10%);
}

.bdr-s500 {
  border-color: $secondary;
}

.bdr-s600 {
  border-color: darken($secondary, 10%);
}

.bdr-s700 {
  border-color: darken($secondary, 20%);
}

.bdr-s800 {
  border-color: darken($secondary, 30%);
}

.bdr-s900 {
  border-color: darken($secondary, 40%);
}

.bdr-s100 {
  border-color: lighten($grayscale, 40%);
}

.bdr-s200 {
  border-color: lighten($grayscale, 30%);
}

.bdr-s300 {
  border-color: lighten($grayscale, 20%);
}

.bdr-s400 {
  border-color: lighten($grayscale, 10%);
}

.bdr-s500 {
  border-color: $grayscale;
}

.bdr-s600 {
  border-color: darken($grayscale, 10%);
}

.bdr-s700 {
  border-color: darken($grayscale, 20%);
}

.bdr-s800 {
  border-color: darken($grayscale, 30%);
}

.bdr-s900 {
  border-color: darken($grayscale, 40%);
}

/* typography font sizes */
.font-alpha {
  @include font-size(24px);
}

.font-beta {
  @include font-size(22px);
}

.font-xlg {
  @include font-size(20px);
}

.font-lg {
  @include font-size(18px);
}

.font-md {
  @include font-size(16px);
}

.font-sm {
  @include font-size(14px);
}

.font-xsm {
  @include font-size(12px);
}

/* typography font styles */
.txt-thin {
  @include font-style($weight: 200);
}

.txt-light {
  @include font-style($weight: 300);
}

.txt-norm {
  @include font-style($weight: normal);
  @include font-style($weight: 400);
}

.txt-med {
  @include font-style($weight: 500);
}

.txt-bold {
  @include font-style($weight: bold);
  @include font-style($weight: 700);
}

.txt-blk {
  @include font-style($weight: 800);
}

.txt-italic {
  @include font-style($style: italic);
}

.txt-upper {
  @include font-style($case: uppercase);
}

.txt-capital {
  @include font-style($case: capitalize);
}

.txt-lower {
  @include font-style($case: lowercase);
}

/* positioning */
.pos-t {
  @include position(absolute, $xs, 0, 0, 0);
}

.pos-t {
  @include position(absolute, $sm, 0, 0, 0);
}

.pos-t {
  @include position(absolute, $md, 0, 0, 0);
}

.pos-y {
  @include position(absolute, 0, $xs, 0, 0);
}

.pos-y {
  @include position(absolute, 0, $sm, 0, 0);
}

.pos-y {
  @include position(absolute, 0, $md, 0, 0);
}

.pos-b {
  @include position(absolute, 0, 0, $xs, 0);
}

.pos-b {
  @include position(absolute, 0, 0, $sm, 0);
}

.pos-b {
  @include position(absolute, 0, 0, $sm, 0);
}

.pos-x {
  @include position(absolute, 0, 0, 0, $xs);
}

.pos-x {
  @include position(absolute, 0, 0, 0, $sm);
}

.pos-x {
  @include position(absolute, 0, 0, 0, $md);
}

.pos-ty {
  @include position(absolute, $xs, $xs, 0, 0);
}

.pos-ty {
  @include position(absolute, $sm, $sm, 0, 0);
}

.pos-ty {
  @include position(absolute, $md, $md, 0, 0);
}

.pos-tx {
  @include position(absolute, $xs, 0, 0, $xs);
}

.pos-tx {
  @include position(absolute, $sm, 0, 0, $sm);
}

.pos-tx {
  @include position(absolute, $md, 0, 0, $md);
}

.pos-by {
  @include position(absolute, 0, $xs, $xs, 0);
}

.pos-by {
  @include position(absolute, 0, $sm, $sm, 0);
}

.pos-by {
  @include position(absolute, 0, $md, $md, 0);
}

.pos-bx {
  @include position(absolute, 0, 0, $xs, $xs);
}

.pos-bx {
  @include position(absolute, 0, 0, $sm, $sm);
}

.pos-bx {
  @include position(absolute, 0, 0, $md, $md);
}

/* grid row */


/* grid columns */

/* grid row spacing */
.baseline-xs {
  @include spacing(margin, $xs, 0, $xs, 0);
}

.baseline-sm {
  @include spacing(margin, $sm, 0, $sm, 0);
}

.baseline-md {
  @include spacing(margin, $md, 0, $md, 0);
}

.baseline-lg {
  @include spacing(margin, $lg, 0, $lg, 0);
}

.baseline-xlg {
  @include spacing(margin, $xlg, 0, $xlg, 0);
}

/* column gutter spacing */
.gutter-xs {
  @include spacing(padding, 0, $xs, 0, $xs);
}

.gutter-sm {
  @include spacing(padding, 0, $sm, 0, $sm);
}

.gutter-md {
  @include spacing(padding, 0, $md, 0, $md);
}

.gutter-lg {
  @include spacing(padding, 0, $lg, 0, $lg);
}

.gutter-xlg {
  @include spacing(padding, 0, $xlg, 0, $xlg);
}

/* margin spacing helpers */
.m-xs {
  @include spacing(margin, $xs, $xs, $xs, $xs);
}

.m-sm {
  @include spacing(margin, $sm, $sm, $sm, $sm);
}

.m-md {
  @include spacing(margin, $md, $md, $md, $md);
}

.m-lg {
  @include spacing(margin, $lg, $lg, $lg, $lg);
}

.m-xlg {
  @include spacing(margin, $xlg, $xlg, $xlg, $xlg);
}

.mx-xs {
  @include spacing(margin, 0, 0, 0, $xs);
}

.mx-sm {
  @include spacing(margin, 0, 0, 0, $sm);
}

.mx-md {
  @include spacing(margin, 0, 0, 0, $md);
}

.mx-lg {
  @include spacing(margin, 0, 0, 0, $lg);
}

.mx-xlg {
  @include spacing(margin, 0, 0, 0, $xlg);
}

.mt-xs {
  @include spacing(margin, $xs, 0, 0, 0);
}

.mt-sm {
  @include spacing(margin, $sm, 0, 0, 0);
}

.mt-md {
  @include spacing(margin, $md, 0, 0, 0);
}

.mt-lg {
  @include spacing(margin, $lg, 0, 0, 0);
}

.mt-xlg {
  @include spacing(margin, $xlg, 0, 0, 0);
}

.my-xs {
  @include spacing(margin, 0, $xs, 0, 0);
}

.my-sm {
  @include spacing(margin, 0, $sm, 0, 0);
}

.my-md {
  @include spacing(margin, 0, $md, 0, 0);
}

.my-lg {
  @include spacing(margin, 0, $lg, 0, 0);
}

.my-xlg {
  @include spacing(margin, 0, $xlg, 0, 0);
}

.mb-xs {
  @include spacing(margin, 0, 0, $xs, 0);
}

.mb-sm {
  @include spacing(margin, 0, 0, $sm, 0);
}

.mb-md {
  @include spacing(margin, 0, 0, $md, 0);
}

.mb-lg {
  @include spacing(margin, 0, 0, $lg, 0);
}

.mb-xlg {
  @include spacing(margin, 0, 0, $xlg, 0);
}

.mg-none {
  @include spacing(margin, 0, 0, 0, 0);
}

/* padding spacing helpers */
.p-xs {
  @include spacing(padding, $xs, $xs, $xs, $xs);
}

.p-sm {
  @include spacing(padding, $sm, $sm, $sm, $sm);
}

.p-md {
  @include spacing(padding, $md, $md, $md, $md);
}

.p-lg {
  @include spacing(padding, $lg, $lg, $lg, $lg);
}

.p-xlg {
  @include spacing(padding, $xlg, $xlg, $xlg, $xlg);
}

.px-xs {
  @include spacing(padding, 0, 0, 0, $xs);
}

.px-sm {
  @include spacing(padding, 0, 0, 0, $sm);
}

.px-md {
  @include spacing(padding, 0, 0, 0, $md);
}

.px-lg {
  @include spacing(padding, 0, 0, 0, $lg);
}

.px-xlg {
  @include spacing(padding, 0, 0, 0, $xlg);
}

.pt-xs {
  @include spacing(padding, $xs, 0, 0, 0);
}

.pt-sm {
  @include spacing(padding, $sm, 0, 0, 0);
}

.pt-md {
  @include spacing(padding, $md, 0, 0, 0);
}

.pt-lg {
  @include spacing(padding, $lg, 0, 0, 0);
}

.pt-xlg {
  @include spacing(padding, $xlg, 0, 0, 0);
}

.py-xs {
  @include spacing(padding, 0, $xs, 0, 0);
}

.py-sm {
  @include spacing(padding, 0, $sm, 0, 0);
}

.py-md {
  @include spacing(padding, 0, $md, 0, 0);
}

.py-lg {
  @include spacing(padding, 0, $lg, 0, 0);
}

.py-xlg {
  @include spacing(padding, 0, $xlg, 0, 0);
}

.pb-xs {
  @include spacing(padding, 0, 0, $xs, 0);
}

.pb-sm {
  @include spacing(padding, 0, 0, $sm, 0);
}

.pb-md {
  @include spacing(padding, 0, 0, $md, 0);
}

.pb-lg {
  @include spacing(padding, 0, 0, $lg, 0);
}

.pb-xlg {
  @include spacing(padding, 0, 0, $xlg, 0);
}

.pd-none {
  @include spacing(padding, 0, 0, 0, 0);
}
